body {
    background-color: pink;
}

h1 {
    text-align: center;
    font-size: 300%;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: powderblue;
    float: left;
    width: 25%;
    height: 500px;
}

li a {
    background-color: white;
    color: mediumpurple;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    margin: 25px;
    border-radius: 20px;
    text-align: center;
}

li a:hover {
    transform: scale(1.1, 1.1);
    background-color: deepskyblue;
}

ol{
    font-size: 150%;
}

div{
    float: left;
}
