body {
    background-color: lightgrey;
}

h1 {
    text-align: center;
    font-size: 300%;
    color: white;
}

.Links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: powderblue;
    float: left;
    width: 25%;
    height: 500px;
}

li a {
    background-color: white;
    color: deeppink;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    margin: 25px;
    border-radius: 20px;
    text-align: center;
}

li a:hover {
    transform: scale(1.1, 1.1);
    background-color: deepskyblue;
}

.Links{
    font-size: 150%;
    float: left;
}

h3{
    color: hotpink;
    margin-top: 2%;
    margin-bottom: 0;
}

h2{
    float: left;
    font-size: 200%;
    color: white;
    padding: .5%;
    margin: 0;
}

img {
    float: left;
    height: 50%;
    width: 50%;
    padding-right: 50%;
    padding-bottom: 5%;
    position: center;
}

.Project {
    margin-top: 2%;
    padding-left: 30%;
    list-style-type: none;
}

